<div class="container">
  <h2>Contact</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-4 location">
      <img src="../../../../assets/Images/Locatie.png" alt="">
      <h3>Locație</h3>
      <p>Comuna Ghioroc Nr. 87</p>

    </div>
    <div class="col-12 col-md-4 telephone">
      <img src="../../../../assets/Images/Contact.png" alt="">
      <h3>Nr. Telefon</h3>
      <p>0759503346</p>

    </div>
    <div class="col-12 col-md-4 timetable">
      <img src="../../../../assets/Images/Orar.png" alt="">
      <h3>Orar</h3>
      <p>Luni - Vineri</p>
      <p>10:00 - 20:00</p>
      <p style="margin-top: 20px">Sambată</p>
      <p>12:00 - 22:00</p>
      <p style="margin-top: 20px; ">Duminică</p>
      <p style="padding-bottom: 30px">17:00 - 22:00</p>


    </div>
  </div>
</div>
