//Bootstrap mixins
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


footer {

  position: relative;
  width: 100%;
  font-family: "DejaVu Sans Condensed";
  text-align: center;
  background-color: rgb(218, 45, 45);

  .container {
    text-align: left;
    letter-spacing: 1px;
    color: white;
    padding: 20px;

    h2 {
      font-size: 1.5em;
    }

    hr {
      background-color: white;
    }


    ul {
      list-style: none;

      li {
        font-size: 1.2em;
        a {
          text-decoration: none;
          color: white;
          font-size: 1.3em;

          i {
            color: #6DCF53;
          }
        }
      }
    }
  }

  .footer-bottom-text {
    text-align: center;
    color: white;
    background: black;
    padding: 10px;
    font-size: 0.7em;
    margin: 0;
  }
}

//RESPONSIVENESS

@include media-breakpoint-up(sm) {
  footer {
    .footer-bottom-text {
      font-size: 0.9em;
    }
  }
}

@include media-breakpoint-up(md) {
  footer {
    .container {
      h2 {
        font-size: 1.7em;
      }

      ul {
        li {
          font-size: 1.2em;
        }
      }
    }

    .footer-bottom-text {
      font-size: 1.1em;
    }


  }
}

@include media-breakpoint-up(lg) {
  footer {
    .container {
      max-width: 98%;
      padding-top: 34px;
      .col-lg-4 {
        text-align: center;

        h2 {
          padding-left: 6%;
          font-size: 1.8em;
        }

        hr {
          display: none;
        }

        ul {
          list-style: none;

          li {
            font-size: 1.371em;

            a {
              font-size: 1.2em;
            }
          }
        }
      }
    }

    .footer-bottom-text {
      font-size: 1.1em;
    }


  }
}

@include media-breakpoint-up(xl) {
  footer {
    .container {
      .row {
        ul {
          list-style: none;
        }
      }
    }

  }
}

