<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h2>Contact</h2>
        <ul>
          <li><a href="tel:0759503346"><i class="fas fa-phone-square-alt"></i> 0759503346</a></li>
        </ul>
        <hr>
      </div>
      <div class="col-12 col-lg-4">
        <h2>Orar</h2>
        <ul>
          <li>Luni - Vineri</li>
          <li>10:00 - 20:00</li>
          <li style="margin-top: 20px; ">Sambată</li>
          <li>12:00 - 22:00</li>
          <li style="margin-top: 20px; ">Duminică</li>
          <li>17:00 - 22:00</li>
        </ul>
        <hr>
      </div>
      <div class="col-12 col-lg-4">
        <h2>Adresă</h2>
        <ul>
          <li>Comuna Ghioroc Nr.87</li>
          <li>( În Centru )</li>
        </ul>
      </div>
    </div>

  </div>
  <p class="footer-bottom-text">&copy;2019 Pizza Noastră. Toate drepturile sunt rezervate.</p>
</footer>
