<div class="container">
  <h1>Pizza Noastră</h1>
  <hr>
  <p>Ești cumva din Ghioroc, Miniș, Cuvin, Păuliș, Sâmbăteni, sau Covăsânț?</p>
  <p>Te-ai săturat să nu ai de unde sa mănânci o pizza bună?</p>
  <p id="last">Atunci bine ai venit la <strong>Pizza Noastră</strong>, prima pizzerie din Ghioroc, gata să-ți livreze o pizza caldă și delicioasă chiar la tine acasă!</p>
  <div style="text-align: center;padding-bottom: 30px">
    <a routerLink="/meniu"><button type="button" (click)="toggleNavbarLink()" class="btn btn-warning">Vezi Meniu</button></a>
  </div>
</div>
